.targetingBox {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px dotted black;
    background-color: rgba(84, 84, 85, 0.384);
}

.dropdown {
    position: absolute;
    bottom: -22px;
    font-family: sans-serif;
    left: -4px;
    width: 100px;
    color: white;
    background-color: rgba(46, 46, 46, 0.815);
}

.first,
.second {
    display: flex;
    align-items: center;
    justify-content: space-between;
}